<footer>

    <div class="row">

        <div class="col-sm-5">
        &copy; 2014 creativeLabs. <a href="http://bootstrapmaster.com">Admin Templates</a> by BootstrapMaster
        </div><!--/.col-->

        <div class="col-sm-7 text-right">
            Powered by: <a href="http://bootstrapmaster.com/demo/clever/"
                           alt="Bootstrap Admin Templates">cleverAdmin</a> | Based on Bootstrap 3.1.1 | Built with Brix.io
        </div><!--/.col-->

    </div><!--/.row-->

</footer>