
<%@ page import="nextho.User" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="nextho">
		<title></title>
	</head>
	<body>

	<div id="filteredList">
<br>
<br>

		<g:render template="listTemplate"/>
	</div>
	</body>
</html>
